{
  "prune": {
    "regex_pattern": "(?:[Ss][Ee]|音)(?:[な無]し|[Cc][Uu][Tt])|(?:[Nn][Oo]|无|無)(?:[Ss][Ee]|音效|效果音)|(?:反転)"
  },
  "tools": {
    "encoder": "lame",
    "qaac_path": "qaac",
    "lame_path": "lame"
  },
  "execute": {
    "max_io_workers": 6
  }
}
