{
  "prune": {
    "literal_tags": [
      "seなし", "se無し", "secut",
      "音なし", "音無し", "音cut",
      "no se", "no音效", "no效果音",
      "无se", "無se", "无音效", "無音效", "无效果音", "無效果音",
      "反転"
    ]
  },
  "tools": {
    "encoder": "lame",
    "qaac_path": "qaac",
    "lame_path": "lame"
  },
  "execute": {
    "max_io_workers": 6
  }
}
